{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet2.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href = "{% url 'home_page' %}"><img class = "logo" src = "{% static 'images/logo.png' %}"> </a></li>
            <li> <a href = "{% url 'about' %}"> About </a></li>
            <li> <a href = "{% url 'contact' %}"> Contact </a></li>
            <li> <a href = "{% url 'FAQ' %}"> FAQ</a></li>
            <li> <a href = "{% url 'sign_in' %}"> Sign-in </a></li>
        </ul>
    </nav>
<main class = "everyother_page">
    <div class = "white_space">
        <h2>About Car Rental Company</h2>
        <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
    </div>

</main>
<div class = "big_container">
    <div class = "little_containers">
        <img class = "four_images" src="{% static 'images/car_front.png' %}">
        <div class = "overlay">5 star Vehicles</div>
    </div>

    <div class = "little_containers">
        <img class = "four_images" src="{% static 'images/business_person.png' %}">
        <div class = "overlay">Great Customer Service</div>
    </div>


    <div class = "little_containers">
        <img class = "four_images" src="{% static 'images/lock.png' %}">
        <div class="overlay">100% Security Guarenteed</div>
    </div> 

    <div class = "little_containers">
        <img class = "four_images" src = "{% static 'images/vacation.png' %}">
        <div class="overlay">Customer Satisfaction</div>
    </div> 
</div>
<footer>
<p> &copy; 2018 CRC </p>  
<!-- if this doesn't work then do the next lines of code just in case..... -->
<!--<div class = "footer_all"> <p> &copy; 2018 CRC </p>  </div> -->
</footer>
</body>
</html>




<!-- THIS IS THE WEBSITES THAT WERE USED FOR THIS PAGE! -->
<!-- 1. https://www.motortrend.com/cars/ford/fusion/2015/  -->
<!-- 2. http://www.businessdictionary.com/definition/businessman.html -->
<!-- 3. https://www.vectorstock.com/royalty-free-vector/web-security-icon-shield-lock-symbol-guard-badge-vector-16869686 -->
<!-- 4. https://www.ttmf-mortgages.com/mortgage-guidance/avoid-extreme-early-repayment -->
