{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet2.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href = "{% url 'home_page' %}"><img class = "logo" src = "{% static 'images/logo.png' %}"> </a></li>
            <li> <a href = "{% url 'about' %}"> About </a></li>
            <li> <a href = "{% url 'contact' %}"> Contact </a></li>
            <li> <a href = "{% url 'FAQ' %}"> FAQ</a></li>
            <li> <a href = "{% url 'sign_in' %}"> Sign-in </a></li>
        </ul>
    </nav>
<main class = "everyother_page"> 
    <div class = "white_space">
        <h2 align="center">You have logged out</h2>
        <br>
        <p align="center">We hope you enjoyed using the CRC Web Application!</p>
        <br>
        <a href = "{% url 'home_page' %}">
            <button class="submit_search" align="center">Home Page</button>
        </a>
    </div>
</main>

<footer>
<p> &copy; 2018 CRC </p>   
</footer>
</body>
</html>

