{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet2.css' %}">
</head>
<body>
    <Enav>
        <ul>
            <li><a href = "{% url 'home_page' %}"><img class = "logo" src = "{% static 'images/logo.png' %}"> </a></li>
            <li> <a href = "{% url 'customer_results' %}"> Customers </a></li>
            <li> <a href = "{% url 'vehicles' %}"> Vehicles </a></li>
            <li> <a href = "{% url 'stores' %}"> Stores</a></li>
            <li> <a href = "{% url 'reports' %}"> Reports</a></li>
            <li> <a href = "{% url 'logout' %}"> Sign-out </a></li>
        </ul>
    </Enav>
    <br>
    <br>
    <br>
    <h1>Employee Dashboard</h1>
<main class = "everyother_page">
    <div class = "white_space_employees">
        <h2>Reports</h2>
        <table class ="report" id = "tables">
           <tr>
               <th onclick="sortTable(0)" style="cursor:pointer">Name</th>
               <th onclick="sortTable(1)" style="cursor:pointer">File</th>
               <th onclick="sortTable(2)" style="cursor:pointer">Priority</th>
               <th onclick="sortTable(3)" style="cursor:pointer">Author</th>
           </tr> 
           <tr>
               <td>CRC financial information</td>
               <td><a href ="{% static 'files/financial.pdf' %}"download  target="_blank">File 1</a></td>
               <td>High</td>
               <td>CEO</td>
           </tr>
           <tr>
               <td>CRC Team Agreement</td>
               <td><a href ="{% static 'files/Team Agreement.pdf' %}" download  target="_blank">File 2</a></td>
               <td>Medium</td>
               <td>Employee 1</td>
           </tr>
           <tr>
               <td>CRC WHS</td>
               <td><a href ="{% static 'files/safety.pdf' %}" download  target="_blank">File 3</a></td>
               <td>None</td>
               <td>Board Member 1</td>
           </tr>
        </table>
    </div>
</main>
<footer>
<p> &copy; 2018 CRC </p>   
</footer>
<script>
    function sortTable(num) 
    {
        var table, rows, switching,x, y, z, do_anything, direction, switchcount = 0;
  
        table = document.getElementById("tables");
        switching = true;
        direction = "asc"; 

        while (switching == true) 
        {
            switching = false;
            rows = table.rows;
            for (z = 1; z < (rows.length - 1); z++) 
            {
                do_anything = false;
                x = rows[z].getElementsByTagName("td")[num];
                y = rows[z + 1].getElementsByTagName("td")[num];
                if (direction == "asc") 
                {
                    if ((x.innerHTML.toLowerCase()) > (y.innerHTML.toLowerCase())) 		  
                    {
                        do_anything = true;
                        break;
                    }
                } 
                else if (direction == "desc") 
                {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) 
                    {
                        do_anything = true;
                        break;
                    }
                }
            }
            if (do_anything == true) 
            {
                rows[z].parentNode.insertBefore(rows[z + 1], rows[z]);
                switching = true;
                switchcount ++;      
            }
            else
            {
                if (switchcount == 0 && direction == "asc") 
                {
                    direction = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
</body>
</html>

